---
const { slotId, style = "display:block; width:100%; min-height:90px;" } = Astro.props;
---
<div class="my-6">
  <ins class="adsbygoogle"
    style={style}
    data-ad-client="ca-pub-0421373105939215"
    data-ad-slot={slotId}
    data-ad-format="auto"
    data-full-width-responsive="true"></ins>
</div>
<script is:inline>
  try { (adsbygoogle = window.adsbygoogle || []).push({}); } catch (e) {}
</script>